{% extends 'base/layout.html' %}
{% from 'base/components/forms.html' import field %}
{% from 'base/components/buttons.html' import submit %}
{% block title %}Criar Acesso · IBAN{% endblock %}

{% block content %}
<div class="text-center mb-5">
  <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo IBAN" style="max-height: 150px;">
</div>

<div class="container">
  <h1>Novo Usuário</h2>

  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="input-box">
      {{ form.membro_id(class="form-select", id="membro_id_select2") }}
    </div>

    <div class="input-box">
      {{ form.email(class="form-control", placeholder="Insira seu email") }}
    </div>

    <div class="input-box">
      {{ form.password(class="form-control", placeholder="Insira sua senha") }}
    </div>

    <div class="input-box">
      {{ form.password2(class="form-control", placeholder="Repita sua senha") }}
    </div>

    {{ submit('Criar Acesso') }}
  </form>
  <div class="register-link">
      Já tem uma conta? <a href="{{ url_for('auth.login') }}">Faça login aqui</a>.
  </div>
  <div class="text-end mt-3">
    <a href="{{ url_for('admin_users.list_users') }}" class="btn btn-outline-secondary">⬅ Voltar</a>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#membro_id_select2').select2({
            placeholder: "Selecione o seu nome",
            allowClear: true,
            width: '100%',
            theme: 'bootstrap-5',

        });
    });
</script>
{% endblock %}
