{% extends 'base/layout.html' %}
{% from 'base/components/forms.html' import field %}
{% from 'base/components/buttons.html' import submit %}
{% block title %}Criar Acesso · IBAN{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center mb-5">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo IBAN" style="max-height: 150px;">
  </div>

  <div class="card shadow-lg p-4 rounded-4 mx-auto" style="max-width: 500px;">
    <h2 class="text-center"><strong>Criação de Usuário</strong></h2>

    <form method="POST">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.membro_id.label(class="form-label") }}
        {{ form.membro_id(class="form-select", id="membro_id_select2") }}
      </div>

      <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
      </div>

      <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
      </div>

      <div class="mb-3">
        {{ form.password2.label(class="form-label") }}
        {{ form.password2(class="form-control") }}
      </div>

      {{ submit('Criar Acesso') }}
    </form>
    <div class="text-center mt-3">
        Já tem uma conta? <a href="{{ url_for('auth.login') }}">Faça login aqui</a>.
    </div>
    <div class="text-end mt-3">
      <a href="{{ url_for('admin_users.list_users') }}" class="btn btn-outline-secondary">⬅ Voltar</a>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#membro_id_select2').select2({
            placeholder: "Clique para buscar seu nome:",
            allowClear: true,
            width: '100%',
            theme: 'bootstrap-5',

        });
    });
</script>
{% endblock %}
