<button class="menu-toggle" id="menuToggle">☰</button>

<div class="sidebar" id="LatSidebar">
  <div class="logo">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo IBAN" class="logo-img">
  </div>
  <nav class="nav-menu">
    <ul>
      {% if current_user.is_authenticated %}
        {% if current_user.has_permission('admin') %}
          <li>
            <a href="{{ url_for('membresia.perfil', id=current_user.membro.id) }}"><span class="icon">👤</span><span class="nav-item">Perfil</span></a></li>
          <li>
            <a href="{{ url_for('grupos.listar_grupos_unificada') }}"><span class="icon">🏡</span><span class="nav-item">Grupos</span></a></li>
          </li>
          <li>
            <a href="{{ url_for('membresia.index') }}"><span class="icon">👥</span><span class="nav-item">Membresia</span></a></li>
          </li>
          <li>
            <a href="{{ url_for('ctm.index') }}"><span class="icon">📚</span><span class="nav-item">CTM</span></a></li>
          </li>
          <li>
            <a href="{{ url_for('eventos.listar_eventos') }}"><span class="icon">📅</span><span class="nav-item">Eventos</span></a></li>
          </li>
          <li>
            <a href="{{ url_for('financeiro.index') }}"><span class="icon">💰</span><span class="nav-item">Financeiro</span></a></li>
          </li>
          <li>
            <a href="{{ url_for('admin_users.list_users') }}"><span class="icon">⚙️</span><span class="nav-item">Acessos</span></a></li>
          </li>
          {% else %}
          {% if current_user.membro %}
          <li>
            <a href="{{ url_for('membresia.perfil', id=current_user.membro.id) }}"><span class="icon">👤</span><span class="nav-item">Perfil</span></a></li>
          </li>
          {% endif %}

          {% if current_user.is_leader() or current_user.has_permission('secretaria') %}
          <li>
            <a href="{{ url_for('grupos.listar_grupos_unificada') }}"><span class="icon">🏡</span><span class="nav-item">Grupos</span></a></li>
          </li>
          {% endif %}
          
          {% if current_user.has_permission('secretaria') %}
          <li>
            <a href="{{ url_for('membresia.index') }}"><span class="icon">👥</span><span class="nav-item">Membresia</span></a></li>
          </li>
          <li>
            <a href="{{ url_for('ctm.index') }}"><span class="icon">📚</span><span class="nav-item">CTM</span></a></li>
          </li>
          <li>
            <a href="{{ url_for('eventos.listar_eventos') }}"><span class="icon">📅</span><span class="nav-item">Eventos</span></a></li>
          </li>
          {% endif %}

          {% if current_user.has_permission('financeiro') %}
          <li>
            <a href="{{ url_for('financeiro.index') }}"><span class="icon">💰</span><span class="nav-item">Financeiro</span></a></li>
          </li>
          {% endif %}

          {% if current_user.has_permission('secretaria') %} 
          <li>
            <a href="{{ url_for('admin_users.list_users') }}"><span class="icon">⚙️</span><span class="nav-item">Acessos</span></a></li>
          </li>
          {% endif %}

          <li>
            <a class="nav-link disabled" tabindex="-1" style="opacity: 0.6;"><span class="icon"></span>🎈<span class="nav-item">Kids (em breve)</span></a></li>
          </li>
          {% endif %}
      {% endif %}
    </ul>
    <ul class="bottom-item">
      <li><a href="{{ url_for('auth.logout') }}"><span class="icon">🚪</span> <span class="nav-item">Sair</span></a></li>
    </ul>
  </nav>
</div>

<script>
  document.getElementById('menuToggle').onclick = function() {
      document.getElementById('LatSidebar').classList.toggle('open');
      document.getElementById('mainContent').classList.toggle('shifted');
  };
</script>

{#
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: var(--cor-primaria);">
  <div>
    {% if current_user.is_authenticated %}
      <a class="navbar-brand fw-bold" href="{{ url_for('main.index') }}"> 
        {% if current_user.membro %}
          {{ " ".join(current_user.membro.nome_completo.split(' ')[:2]) }}
        {% endif %}
      </a>
    {% else %}
      <a class="navbar-brand fw-bold" href="{{ url_for('main.index') }}">IBAN Administrativo</a>
    {% endif %}

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarIBAN">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarIBAN">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if current_user.is_authenticated %}
          {% if current_user.has_permission('admin') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('membresia.perfil', id=current_user.membro.id) }}">👤 Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('grupos.listar_grupos_unificada') }}">🏡 Grupos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('membresia.index') }}">👥 Membresia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('ctm.index') }}">📚 CTM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('eventos.listar_eventos') }}">📅 Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('financeiro.index') }}">💰 Financeiro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_users.list_users') }}">⚙️ Acessos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" tabindex="-1" style="opacity: 0.6;">🎈 Kids (em breve)</a>
            </li>
            {% else %}
            {% if current_user.membro %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('membresia.perfil', id=current_user.membro.id) }}">👤 Perfil</a>
            </li>
            {% endif %}

            {% if current_user.is_leader() or current_user.has_permission('secretaria') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('grupos.listar_grupos_unificada') }}">🏡 Grupos</a>
            </li>
            {% endif %}
            
            {% if current_user.has_permission('secretaria') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('membresia.index') }}">👥 Membresia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('ctm.index') }}">📚 CTM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('eventos.listar_eventos') }}">📅 Eventos</a>
            </li>
            {% endif %}

            {% if current_user.has_permission('financeiro') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('financeiro.index') }}">💰 Financeiro</a>
            </li>
            {% endif %}

            {% if current_user.has_permission('secretaria') %} 
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_users.list_users') }}">⚙️ Acessos</a>
            </li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link disabled" tabindex="-1" style="opacity: 0.6;">🎈 Kids (em breve)</a>
            </li>
            {% endif %}
        {% endif %}
      </ul>
      <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-danger">🚪 Encerrar Sessão</a>
    </div>
  </div>
</nav>
#}