{% extends "base/layout.html" %}
{% from 'base/components/forms.html' import field %}
{% from 'base/components/buttons.html' import submit %}

{% block title %}{% if turma %}Editar Turma{% else %}Criar Turma{% endif %} · CTM{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-lg p-4 rounded-4 mx-auto" style="max-width: 500px;">
        <h2 class="text-center">
            <strong>{% if turma %}Editar Turma {{ turma.nome }}{% else %}Criar Nova Turma{% endif %}</strong>
        </h2>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.nome.label(class="form-label") }}
                {{ form.nome(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.classe_id.label(class="form-label") }}
                {{ form.classe_id(class="form-select") }}
            </div>

            <div class="mb-3">
                {{ form.facilitador_id.label(class="form-label") }}
                {{ form.facilitador_id(class="form-select") }}
            </div>

            {{ submit('Salvar Turma') }}
            <div class="text-end mt-3">
                <a href="{{ url_for('ctm.listar_ctm_unificada') }}" class="btn btn-outline-secondary">⬅ Voltar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
