{% extends 'base/layout_simple.html' %}
{% from 'base/components/forms.html' import field %}
{% from 'base/components/buttons.html' import submit %}
{% block title %}Confirmar Presença · IBAN{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center mb-5">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo IBAN" style="max-height: 150px;">
  </div>

  <div class="card shadow-lg p-4 rounded-4 mx-auto" style="max-width: 500px;">
    <h2 class="text-center"><strong>Confirmação de Presença</strong></h2>
    <form method="POST" action="{{ url_for('ctm.registrar_presenca_aluno') }}" id="form-ctm-presenca">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.membro_id.label(class="form-label") }} 
        {{ form.membro_id(class="form-select", id="nome_aluno_select2", data_buscar_membros_url=url_for('ctm.buscar_membros')) }}
        
        <small class="form-text text-muted mt-2 d-block">
            Não encontrou seu nome? <a href="{{ url_for('membresia.cadastro_nao_membro') }}">Clique aqui para cadastrar</a>. 
        </small>
        {# Exibe erros de validação do campo membro_id #}
        {% if form.membro_id.errors %}
            {% for error in form.membro_id.errors %}
                <div class="alert alert-danger mt-1">{{ error }}</div>
            {% endfor %}
        {% endif %}
      </div>

      <div class="mb-3">
        {{ form.palavra_chave_aula.label(class="form-label") }} 
        {{ form.palavra_chave_aula(class="form-control", placeholder="Digite a palavra-chave") }} 
        {% if form.palavra_chave_aula.errors %}
            {% for error in form.palavra_chave_aula.errors %}
                <div class="alert alert-danger mt-1">{{ error }}</div>
            {% endfor %}
        {% endif %}
      </div>

      <div class="mb-3">
        {{ form.avaliacao.label(class="form-label") }} 
        {{ form.avaliacao(class="form-select") }} 
        {% if form.avaliacao.errors %}
            {% for error in form.avaliacao.errors %}
                <div class="alert alert-danger mt-1">{{ error }}</div>
            {% endfor %}
        {% endif %}
      </div>

      {{ submit('Confirmar Presença') }}
    </form>
  </div>
</div>
{% endblock %}
