{% extends "base/base.html" %}

{% block body %}
    {% include 'base/components/mobile_topbar.html' %}

    <div class="main-wrapper">
        <div class="offcanvas-md offcanvas-start" tabindex="-1" id="sidebarOffcanvas" aria-labelledby="sidebarOffcanvasLabel">           
            <div class="offcanvas-body p-0">
                {% include 'base/components/sidebar.html' %}
            </div>
        </div>

        <div class="main-content">
            {% include 'base/components/alerts.html' %} 
            <main class="container-fluid p-4">
                {% block content %}{% endblock %}
            </main>
            {% include 'base/components/footer.html' %}
        </div>
    </div>
{% endblock %}
